MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=dvacatka
JWT_SECRET=supersecretkey
ADMIN_PASSWORD=admin123
PORT=8080

# Email (выбрать один вариант)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
